$w: 80vmin;
$h: 60vmin;
$p: 0.5;
$s: 0.2;

$font: 'Space Mono', monospace;

$ease: cubic-bezier(0.770, 0.000, 0.175, 1.000);

html{
	background-color: #111;
	padding: 20vh 0;
}

.stripe{
	position: fixed;
	top: 37.5vh;
	left: 0vw;
	width: 100vw;
	height: 25vh;
	background: tomato;
	z-index: 0;
	mix-blend-mode: darken;
	pointer-events: none;
	.next, .prev{
		pointer-events: auto;
		appearance: none;
		font-family: $font;
		background: transparent;
		color: white;
		outline: none;
		position: absolute;
		top: 50%;
		left: calc(50vw - 47vmin);
		cursor: pointer;
		height: 4vmin;
		width: 4vmin;
		font-size: 2vmin;
		border: none;
		box-sizing: border-box;
	}
	.next{
		transform: translateY(50%);
		border-top: none;
	}
	.prev{
		transform: translateY(-140%);

	}
}

section{
	position: relative;
	height: 60vh;
	&:nth-child(1){
		.image__top, .image__bottom, .image__inner{
			background-image: url('https://picsum.photos/801/601?image=321');
		}
	}
	&:nth-child(2){
		.image__top, .image__bottom, .image__inner{
			background-image: url('https://picsum.photos/802/602?image=208');
		}
	}
	&:nth-child(3){
		.image__top, .image__bottom, .image__inner{
			background-image: url('https://picsum.photos/803/603?image=608');
		}
	}
	&:nth-child(4){
		.image__top, .image__bottom, .image__inner{
			background-image: url('https://picsum.photos/803/603?image=565');
		}
	}
	&:nth-child(5){
		.image__top, .image__bottom, .image__inner{
			background-image: url('https://picsum.photos/804/604?image=218');
		}
	}
	&:nth-child(6){
		.image__top, .image__bottom, .image__inner{
			background-image: url('https://picsum.photos/805/605?image=1032');
		}
	}
}

.image{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: $w;
	height: $h;
	transition: transform 1000ms $ease;

	&__top, &__bottom, &__inner{
		width: 100%;
		background-size: $w $h;
	}
	&__top, &__bottom, &__stretch{
		//transition: transform 200ms linear;
	}

	&__top{
		height: $p*100%;
		background-position: top;
	}

	&__bottom{
		height: (1-$p)*100%;
		background-position: 0% 99%;
	}

	&__stretch{
		height: $s*100%;
		overflow: hidden;
		position: relative;
		z-index: 2;
		margin: -1px 0;
	}
	&__inner{
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: 0 $p*100%;
		height: 1px;
		transform: scaleY(1000);
	}
}



.text{
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	z-index: 100;
	transform: translate3d(-50%,-50%,0);
	z-index: 2;
	font-family: $font;
	text-transform: uppercase;
	font-size: 0;
	color: white;
	cursor: default;
	user-select: none;
	font-weight: 700;
	pointer-events: none;

	line-height: 0.9;
	padding-top: 5vh;
	&__word{
		display: block;
		font-size: 10vmin;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 2px white;
	}
	&__subtitle{
		margin-top: 3vh;
		font-size: 2vmin;
		letter-spacing: 0.1em;
		font-weight: 200;
	}
}
